{% extends "layout.html" %}
{% block body %}

<!-- Page content -->
<div class="w3-content" style="max-width:700px;">
<div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'civil');"><i class="fa fa-plane w3-margin-right"></i>민법</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'real_estate');"><i class="fa fa-bed w3-margin-right"></i>부동산법</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'copyright');"><i class="fa fa-car w3-margin-right"></i>특허법</button>
    </div>

    <!-- Tabs -->
    <div id="civil" class="w3-container w3-white w3-padding-16 myLink">
      <h3> 민법 </h3>
      <h3>  필요한 조문을 검색해 줍니다 </h3>
        <form method ="POST", action="/civil" >
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <label>From</label>

            <textarea class="w3-input w3-border" type="text"  name="civil_input" cols="40" rows="8"  placeholder="상황을 입력해주세요.">
                {{input}}
            </textarea>
        </div>
        <div class="w3-half">
          <label>To</label>
        <textarea class="w3-input w3-border"  cols="40" rows="8"  type="text" placeholder="조문이 검색됩니다." >
            {% for temp in result %}{{temp['output']}} - {{temp['cluster']}} - {{temp['detail']}}
            {% endfor %}
        </textarea>

        </div>
      </div>
      <p><button type ="submit" class="w3-button w3-dark-grey">Search</button></p>
        </form>
    </div>

    <div id="real_estate" class="w3-container w3-white w3-padding-16 myLink">
      <h3> 부동산법 </h3>
      <h3> 필요한 조문을 검색해 줍니다 </h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <label>From</label>
          <input class="w3-input w3-border" type="text" placeholder="상활을 입력해주세요.">
        </div>
        <div class="w3-half">
          <label>To</label>
          <input class="w3-input w3-border" type="text" placeholder="조문이 검색됩니다.">
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Search</button></p>
    </div>

  <div id="copyright" class="w3-container w3-white w3-padding-16 myLink">
    <h3> 특허법 </h3>
    <h3> 필요한 조문을 검색해 줍니다</h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <label>From</label>
          <input class="w3-input w3-border" type="text" placeholder="상황을 입력해주세요.">
        </div>
        <div class="w3-half">
          <label>To</label>
          <input class="w3-input w3-border" type="text" placeholder="조문이 검색됩니다.">
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Search</button></p>

  </div>



    <!-- Image -->
  <div class="w3-row-padding w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{ url_for('static', filename= 'images/justice.png') }}" alt="부동산" style="width:100%">
        <span class="w3-display-bottomleft w3-padding">부동산</span>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">

        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{{ url_for('static', filename= 'images/justice.png') }}" alt="부동산" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">부동산</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{{ url_for('static', filename= 'images/justice.png') }}" alt="부동산" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">부동산</span>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Newsletter -->
  <div class="w3-container">
    <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
      <h2>Get the best offers first!</h2>
      <p>Join our newsletter.</p>
      <label>E-mail</label>
      <input class="w3-input w3-border" type="text" placeholder="Your Email address">
      <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-container">
    <h2>Contact</h2>
    <p>Let us book your next trip!</p>
    <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
    <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
    <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

<!-- End page content -->
</div>
{% endblock %}