{% extends "layout.html" %}
{% block body %}
<style>
  .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 10px;
        border: 1px solid #888;
        width: 90%; /* Could be more or less, depending on screen size */
    }
        /* The Close Button */
        .close-button {
            color: #aaa;
            float: right;
            font-size: 35px;
            font-weight: bold;
        }
        .close-button:hover,
        .close-button:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

</style>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<!-- Page content -->
<div class="w3-content" style="max-width:700px;">
<div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'civil');"><i class="fa fa-plane w3-margin-right"></i>민법</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'real_estate');"><i class="fa fa-bed w3-margin-right"></i>부동산법</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'copyright');"><i class="fa fa-car w3-margin-right"></i>특허법</button>
    </div>

    <!-- 민법 -->
    <div id="civil" class="w3-container w3-white w3-padding-16 myLink">
      <h3> 민법 </h3>
      <h3>  필요한 조문을 검색해 줍니다 </h3>
        <form method ="POST", action="/civil" >
      <div class="w3-row-padding" style="margin:0 -16px;">

        <div class="input-group mb-3">
          <input type="text" class="form-control" name="civil_input" placeholder="상황을 입력해주세요." aria-label="상황을 입력해주세요."">
          <div class="input-group-append">
            <button class="btn-outline-secondary" type ="submit">Search</button>
          </div>
        </div>

      </div>
        </form>
    </div>

    <!-- 부동산 법 -->
  <div id="real_estate" class="w3-container w3-white w3-padding-16 myLink">
     <h3> 부동산법 </h3>
      <h3>  필요한 조문을 검색해 줍니다 </h3>
        <form method ="POST", action="/civil" >
      <div class="w3-row-padding" style="margin:0 -16px;">

        <div class="input-group mb-3">
          <input type="text" class="form-control" name="civil_input" placeholder="상황을 입력해주세요." aria-label="상황을 입력해주세요."">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary trigger" type ="submit">Search</button>
          </div>
        </div>

      </div>
        </form>
    </div>

    <!-- 특허법 -->
  <div id="copyright" class="w3-container w3-white w3-padding-16 myLink">
    <h3> 특허법 </h3>
      <h3>  필요한 조문을 검색해 줍니다 </h3>
        <form method ="POST", action="/civil" >
      <div class="w3-row-padding" style="margin:0 -16px;">

        <div class="input-group mb-3">
          <input type="text" class="form-control" name="civil_input" placeholder="상황을 입력해주세요." aria-label="상황을 입력해주세요."">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary trigger" type ="submit">Search</button>
          </div>
        </div>

      </div>
        </form>
  </div>

  <!-- 모달 -->
  {% if chk == 1 %}
    <div id="modal" class="modal" style= "display : block">
        <div class="modal-content">

            <span class="close-button">&times;</span>

          <p> {{ strResult}} </p>
          <p style ="font-size: 35px; "> {{ aResult }} </p>
          <table class="table table-sm">
            <thead>
            </thead>
            <tbody>
              {% set n2 = [0] %}
              {% set n3 = [0] %}
              {% set tempn1 = 0 %}
              {% set tempn2 = 0 %}
              {% set tempn3 = 0 %}
              {% set tempn4 = 0 %}
              {% for i in range( name1| length )%}
              <ul>

                <li class = "list-group-item list-group-item-action active"> {{ name1[ loop.index -1 ] }}</li>
                  {% set tempn1 = loop.index -1  %}




                  {% for j in range( cate[ tempn1 ]| length )%}
                  <ul class="cate2" onclick = "ca2( {{ n2[0] }})" >

                    <li class="list-group-item">    {{ name2[   n2[0] ] }}</li>
                      {% if n2.append(n2.pop() + 1) %}{% endif %}
                      {% set tempn2 = loop.index -1  %}


                      {% for k in range( cate[tempn1][  tempn2]| length )%}
                          {% set tempn3 = loop.index -1  %}
                      <ul class = "c2{{n2[0] -1}}" style= "display : block" onclick="ca3({{n3[0]}}, event)">
                        {% if julC[ n3[0]] == 0 %}
                          <li class="list-group-item list-group-item-primary">   {{ name3[   n3[0] ] }}</li>

                        {% elif julC[ n3[0]] == 1 %}
                          <li class="list-group-item list-group-item-danger">   {{ name3[   n3[0] ] }}</li>

                        {% elif julC[ n3[0]] > 1 %}
                          <li class="list-group-item list-group-item-success">   {{ name3[   n3[0] ] }}</li>
                        {% endif %}

                        {% if julC[ n3[0]] == -1 %}
                          <li class="list-group-item" style= "display : block">    {{ name3[   n3[0] ] }}</li>
                        {% endif %}

                              {% if n3.append(n3.pop() + 1) %}{% endif %}

                              {% for l in range( cate[tempn1][tempn2][  tempn3]| length )%}
                                  {% set tempn4 = loop.index -1  %}
                                  <ul class = "c3{{n3[0] -1}}" style= "display : none" >
                                      {% for m in range( cate[tempn1][tempn2][tempn3][  tempn4]| length )%}
                                          <li class="list-group-item ">    {{cate[tempn1][tempn2][tempn3][tempn4][  loop.index -1 ] }} </li>
                                      {% endfor %}
                                  </ul>
                              {% endfor %}
                          </li>

                      </ul>
                      {% endfor %}

<!-- list-group-item-danger -->

                  </ul>
                  {% endfor %}

              </ul>

              {% endfor %}
            </tbody>

          </table>


        </div>
    </div>
  {% endif %}

    <!-- Image -->
  <div class="w3-row-padding w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{ url_for('static', filename= 'images/justice.png') }}" alt="부동산" style="width:100%">
        <span class="w3-display-bottomleft w3-padding">부동산</span>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">

        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{{ url_for('static', filename= 'images/justice.png') }}" alt="부동산" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">부동산</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{{ url_for('static', filename= 'images/justice.png') }}" alt="부동산" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">부동산</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Newsletter -->
  <div class="w3-container">
    <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
      <h2>Get the best offers first!</h2>
      <p>Join our newsletter.</p>
      <label>E-mail</label>
      <input class="w3-input w3-border" type="text" placeholder="Your Email address">
      <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-container">
    <h2>Contact</h2>
    <p>Let us book your next trip!</p>
    <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
    <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
    <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

<!-- End page content -->
</div>



{% endblock %}